<% if message.role == "assistant" %>
  <div class="bg-gray-300 text-gray-800 p-2 rounded-lg shadow-lg">
    <p class="text-sm"><%= message.content %></p>
  </div>
<% end %>
<% if message.role == "user" %>
  <div class="bg-blue-800 text-white p-2 rounded-lg shadow-lg">
    <p class="text-sm"><%= message.content %></p>
  </div>
<% end %>