<% bg_color = message.role == "assistant" ? "bg-gray-300" : "bg-blue-800" %>
<% text_color = message.role == "assistant" ? "text-gray-800" : "text-white" %>
<% justify = message.role == "assistant" ? "justify-start" : "justify-end" %>

<div class="flex mb-2 <%= justify %>">
  <div class="<%= bg_color + " " + text_color %> p-2 rounded-lg shadow-lg space-y-4">
    <%= simple_format message.content %>
  </div>
</div>