<div class="flex flex-col items-center justify-center ">
  <!-- Main Form -->
  <%= form_with model: @conversation do |f| %>
    <div class="bg-gray-800 p-4 rounded-lg shadow-lg text-center">
      <h2 class="text-sm sm:text-xl md:text-2xl font-semibold text-gray-300 mb-4">Help me
        <span class="focus:outline-none focus:border-none text-green-600 underline">Albert Einstein</span>,
        <span class="focus:outline-none focus:border-none text-yellow-600 underline">Nikola Tesla</span>, and
        <span class="focus:outline-none focus:border-none text-blue-600 underline">Isaac Newton</span>
      </h2>

      <!-- Input Field with Send Button -->
      <div class="w-full shadow-lg">
        <div class="relative flex items-center">
          <!-- Input Field -->
          <%= f.text_field :prompt, autofocus: true, placeholder: "Help me organize my thoughts...",
                 class: "text-sm sm:text-xl w-full bg-gray-800 text-white py-1 pl-4 pr-12 rounded-lg border-2 border-gray-600
                 placeholder-gray-400" %>

          <!-- Send Button (Icon) -->
          <button class="absolute right-4 text-gray-500 hover:text-gray-400 focus:outline-none">
            <%= f.submit "➤", class: "focus:outline-none" %>
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>