<!-- Selected AI personas -->
<div class="bg-gray-800 p-4 rounded-lg shadow-lg text-center mb-8 max-w-5xl">
  <h2 class="text-2xl font-semibold text-gray-300">
    At the <span class="text-rose-600">RoundTable</span> with
    <span class="text-green-600 hover:underline">Albert Einstein</span>,
    <span class="text-yellow-600 hover:underline">Nikola Tesla</span>, and
    <span class="text-blue-600 hover:underline">Isaac Newton</span>
  </h2>
</div>

<!-- Chat container -->
  <div class="bg-gray-800 w-full max-w-5xl flex flex-col-reverse flex-grow rounded-lg p-4 shadow-lg">
    <!-- Input Field with Send Button -->
    <%= form_with model: @conversation do |f| %>
      <div class="w-full relative flex items-center shadow-lg">
        <!-- Input Field -->
        <%= f.text_field :content, placeholder: "Type your message...",
               class: "w-full bg-gray-800 text-white py-3 pl-4 pr-12
               rounded-lg border-2 border-gray-600 placeholder-gray-400"
        %>
        <!-- Send Button (Icon) -->
        <button class="absolute right-4 text-gray-500 hover:text-gray-400 focus:outline-none">
          <%= f.submit "➤", class: "focus:outline-none" %>
        </button>
    </div>
  <% end %>

  <!-- Chat Messages -->
  <div class="flex flex-col space-y-4">
    <%= turbo_frame_tag @conversation do %>
    <% render @conversation.messages %>
    <% end %>
  </div>
</div>